#root{
    height: 100%;
}
#root>div{
    height: 100%;
}
#root .ant-layout{
    height: 100%;
}
.center{
    width: 100%;
    margin: 0 auto;
}
.AdminHeader .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 28px 16px 0;
    float: left;
}
.SideBar .ant-menu-root{
    margin: 28px 10px;
}
.SideBar .ant-layout-sider-children{
    height: 100%;
    background: #f0f2f5;
}
a{
    color:"#1890ff";
}